@font-face {
    font-family: "Quercus10";
    src: local("Quercus10"), url("../fonts/Quercus10.ttf") format("truetype");
}
@font-face {
    font-family: "Quercus10Book";
    src: local("Quercus10Book"),
        url("../fonts/Quercus10Book.otf") format("opentype");
}
